<div class="container">

    <header>
        <h1>Test Your Luck!</h1>
    </header>

    <div class="container-odds">
        <div class="con_size">
            <h2>Soccer England League</h2>
            <div>
                <div id="container-teams">
                        {{!-- loop for array of teams --}}
                        {{#each teams}}
                        <p><span class="category">Team: </span><span class="teams">{{this}}</span></p>
                        {{/each}}
                </div>
                    {{!-- Loop for array of odds --}}
                <div id="odds">
                    {{#each sites.[0].odds.spreads.odds}}
                    <p data-odds="{{this}}"><span class="category">Odds: </span>{{this}}</p>
                    {{/each}}
                </div>
                    {{!-- New bet input --}}
                    <p><span id="userBet" class="category"></span>{{new_bet}}</p>


                <div class="bet-form">
                    <form class="newBetForm">
                        <input id="newBet_input" type="number" name="bet_amount"
                            placeholder="Enter an amount to place bet!"></input>
                        <button id="new_bet-btn" type="submit" data-id="{{this.id}}">Place Bet!</button>
                    </form>
                </div>
            </div>

        </div>

        <div>
            <button class="generate_bet">Show Statement</button>
        </div>
    </div>

    <div class="current_balance">
        <h3>Previous Wagers</h3>
        <table class="table" id="pastWagers"></table>
    </div>
</div>