<div class="container">

    <header>
        <h1>Test Your Luck!</h1>
    </header>

    <div>
        <h2>Odds</h2>
        <div>
            <h3>{{Team1}}</h3>
            <div class="bet-form">
            <form class="newBetForm">
                <input type="text" name="" placeholder="Enter an amount to place bet!"></input>
                <button id="" type="submit" data-id="{{this.id}}">Place Bet!</button>
            </form>
        </div>
        </div>
    </div>

    <div>
        <h2>Odds</h2>
        <div>
            <h3>{{Team2}}</h3>
            <div class="reward">
                <p>
                    Pay Out: {{this.pay_out}}
                </p>
            </div>
        </div>
        
    </div>
    <button type="submit" id="" class="">Generate Bet!</button>

<div>
    <h3>Current Balance: {{this.current_balance}}</h3>
</div>
</div>