<div class="container">

    <header>
        <h1>Test Your Luck!</h1>
    </header>

    <div class="container-odds">
        <div>
            <h2>Soccer England League</h2>
            <div>
                <div id="container-teams">
                    {{!-- loop for array of teams --}}
                    {{#each teams}}
                    <p><span class="category">Team: </span>{{this}}</p>
                    {{/each}}
                    {{!-- Loop for array of odds --}}
                    {{#each sites}}
                    <p><span class="category"> Odds: </span>{{this.odds.spreads.odds}}</p>
                    {{/each}}
                    {{!-- New bet input --}}
                    <p><span class="category">Bet: </span>{{new_bet}}</p>
                    <p><span class="category">New Reward: </span>{{new_amount}}</p>

                    {{home_team}}

                </div>
                <div class="bet-form">
                    <form class="newBetForm">
                        <input id="newBet_input" type="number" name="bet_amount"
                            placeholder="Enter an amount to place bet!"></input>
                        <button id="new_bet-btn" type="submit" data-id="{{this.id}}">Place Bet!</button>
                    </form>
                </div>
            </div>

        </div>
        <button type="submit" id="" class="generate_bet">Generate Bet!</button>

        <div class="current_balance">
            <h3>Current Balance: {{this.current_balance}}</h3>
        </div>

    </div>